$box-shadow-basic: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
0 6px 20px 0 rgba(0, 0, 0, 0.19);

* {
    box-sizing: border-box;
    font-family: 'Ubuntu Condensed', sans-serif;
}

/*=====Register=====*/
.registration-form {
    box-shadow: $box-shadow-basic;
    text-align: left;
    width: 100%;
    max-width: 500px;
    font-size: 20px;
    padding-left: 3%;
    padding-right: 3%;
    margin: auto;
}

.registration-intro {
    text-align: center;
    font-size: 30px;
    margin-bottom: 4%;
}

.registration-button {
    font-size: 20px;
    padding: 8px 16px;
}

.registration-button:hover {
    box-shadow: $box-shadow-basic;
}

.welcome-section {
    text-align: center;
}

.welcome-logo {
    max-width: 220px;
    max-height: 140px;
    margin-bottom: 1%;
}

/*=====Login=====*/
.login-text {
    margin-top: 5%;
    font-size: 14px;
}

.login-button {
    font-size: 18px;
    margin-bottom: 2%;
}

.login-button:hover {
    text-decoration: none;
}