$box-shadow-basic: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
0 6px 20px 0 rgba(0, 0, 0, 0.19);

* {
    box-sizing: border-box;
    font-family: 'Ubuntu Condensed', sans-serif;
}

.director-view {
    box-shadow: $box-shadow-basic;
    text-align: center;
    max-width: 80%;
    margin: auto;
}

.director-title {
    text-align: center;
    font-weight: bold;
}

.director-bio,
.director-birth {
    text-align: left;
    text-indent: 5%;
}

.back-button {
    padding: 8px 16px;
}

.director-back-button:hover {
    box-shadow: $box-shadow-basic;
}

.director-movie-title {
    color: #000;
}

.director-movie-title:hover {
    text-decoration: none;
}

/*=======Movies=======*/
.director-movies {
    max-width: 30%;
    max-height: 40%;
    margin: 2%;
}

/*=======Movies=======*/