* {
    box-sizing: border-box;
}

.director-view {
    align-items: center;
    max-width: 70%;
    margin: auto;
}

.director-title {
    text-align: center;
    font-weight: bold;
}

.director-bio {
    text-align: left;
}

.btn {
    padding: 8px 16px;
}