
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #EAE7DC;
  font-weight: 400;
  margin: 5px;
}

h1, h2 {
  text-align: center;
}

p {
  text-indent: 20px;
}

a:link {
  text-decoration: none;
  color: #f2f2f2;
}
a:visited {
  text-decoration: none;
  color: #0000FF;
}
a:hover,
a:active {
  text-decoration: none;
  color: #FF0000;
}

code {
  font-size: 80%;
  color: #E85A4F;
}

/* Intro text styling */
#intro {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size: 17px;
  width: 95%;
}

/* Endpoints table styling */
#endpoints-table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  border-collapse: collapse;
  width: 99%;
}
#endpoints-table td,
#endpoints-table th {
  border: 1px solid #ddd;
  padding: 8px;
}
#endpoints-table tr:hover {background-color: #ddd;}
#endpoints-table th {
  background-color: #E85A4F;
  padding-bottom: 12px;
  padding-top: 12px;
  text-align: left;
  color: white;
}
