$box-shadow-basic: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
0 6px 20px 0 rgba(0, 0, 0, 0.19);

* {
    box-sizing: border-box;
}

.movie-card {
    justify-content: center;
    align-items: center;
    width: 16rem;
    height: 41rem;
    max-height: 42rem;
    margin-top: 10%;
    box-shadow: $box-shadow-basic;
}

.movie-poster {
    height: 22rem;
    max-height: 22rem;
}

.movie-title {
    text-align: center;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
}

.movie-description {
    text-align: left;
}

.movie-button__open {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20%;
}

.movie-button__open:hover {
    box-shadow: $box-shadow-basic;
}