* {
    box-sizing: border-box;
}

/*=====Movie view=====*/
.movie-view {
    text-align: center;
}

.return-button {
    font-size: 20px;
    padding: 8px 16px;
}

.movie-view__card {
    max-width: 70%;
}

.movie-poster {}

.movie-title {}

.movie-description {}