* {
    box-sizing: border-box;
}

/*=====Movie view=====*/

.movie-view {
    text-align: center;
}

.movie-view__card {
    margin: auto;
    max-width: 50%;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.movie-poster {
    max-height: 100%;
    max-width: 100%;
}

.return-button {
    font-size: 20px;
    padding: 8px 16px;

}

.movie-title {
    text-align: center;
}

.movie-description {
    text-indent: 10%;
}

.genre-name,
.director-name {
    display: inline;
}