$box-shadow-basic: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
0 6px 20px 0 rgba(0, 0, 0, 0.19);

* {
    box-sizing: border-box;
    font-family: 'Ubuntu Condensed', sans-serif;
}

/*=====Movie view=====*/

.movie-view {
    text-align: center;
}

.movie-view-card {
    margin: auto;
    max-width: 50%;
    text-align: center;
    box-shadow: $box-shadow-basic;
}

.movie-poster {
    max-height: 100%;
    max-width: 100%;
}

.movie-view-return-button {
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    padding: 8px 16px;
}

.movie-title {
    text-align: center;
}

.movie-description {
    text-indent: 10%;
}

.genre-name,
.director-name {
    display: inline;
}

.movie-view-return-button:hover {
    box-shadow: $box-shadow-basic;
}

.add-favourite-button:hover {
    box-shadow: $box-shadow-basic;
}