* {
    box-sizing: border-box;
}

/*=====Main view=====*/
.main-view {
    text-align: start;
    margin-top: 3%;
    margin-right: auto;
    margin-left: auto;
    width: 80%;
}

.action-buttons {
    display: flex;
    margin-top: 8%;

}

.profile-button {
    margin-left: 1%;
}

.logout-button {
    margin-left: 1%;
}