* {
    box-sizing: border-box;
}

/*=====Main view=====*/
.main-view {
    text-align: start;
    margin-top: 3%;
    margin-right: auto;
    margin-left: auto;
    width: 80%;
}

.navbar-title {
    font-size: 24px;
}

.profile-button {
    margin-left: 1%;
}

.profile-button:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.logout-button {
    margin-left: 1%;
}

.logout-button:hover {
    background-color: #ff2400;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}