* {
    box-sizing: border-box;
    font-family: 'Ubuntu Condensed', sans-serif;
}

.visibility-filter {
    text-align: left;
}

#formBasicFilterInput {
    margin-left: auto;
    font-weight: 500;
    max-width: 30%;
    padding: 3px;
}