$box-shadow-basic: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
0 6px 20px 0 rgba(0, 0, 0, 0.19);

* {
    box-sizing: border-box;
}

.profile-view {
    width: 100%;
}

/*=====Profile=====*/
.profile-return-button {
    display: flex;
    margin-right: 5%;
    margin-left: auto;
}

.profile-return-button:hover {
    box-shadow: $box-shadow-basic;
}

.profile-view-spinner {
    margin: auto;
}

/*=====Update Profile=====*/

.update-profile {
    max-width: 50%;
    margin: 5%;
}

.update-profile-title,
.delete-profile-title {
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 5%;
}

.delete-profile-button,
.update-profile-button {
    margin-top: 5%;
}

.delete-profile-button:hover,
.update-profile-button:hover {
    box-shadow: $box-shadow-basic;
}