* {
    box-sizing: border-box;
}

.profile {
    width: 100%;
}

/*=====Profile=====*/
.profile-view {
    display: flex;
    max-width: 50%;
    margin: 5%;
}

.return-button {
    display: flex;
    margin: 5%;
}

/*=====Update Profile=====*/

.update-profile {
    max-width: 50%;
    margin: 5%;
}

.update-profile__title {
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 5%;
}